.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 1rem;
}

.header {
  text-align: center;
}

.listContainer {
  flex: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column;
}
