.listContainer {
  flex: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column;
}

.header {
  display: grid;
  text-align: center;
}

.headerItem {
  padding: 1rem;
  border-style: solid;
  border-color: rgb(var(--foreground-rgb));
}

.headerItem:first-child {
  border-width: 4px 1px 2px 4px;
}

.headerItem:not(:first-child):not(:last-child) {
  border-width: 4px 1px 2px 1px;
}

.headerItem:last-child {
  border-width: 4px 4px 2px 1px;
}

.productRowContainerLast {
  border-bottom: 2px solid rgb(var(--foreground-rgb));
}
